<h1>Upcoming Events</h1>
<div class="events">
  <%= button_to "Create New Event", new_event_path, class: "new button",
    method: :get %>
  <%= render partial: 'events/partials/events_list',
    locals: { events: @events, new_user: @new_user } %>
</div>
