<div class="back-link">
  <%= link_to 'All Categories', game_types_path %>
</div>
<div class="events">
  <h1>Upcoming Events</h1>
  <%= button_to 'Create New Event', new_event_path, form_class: "new-button", method: :get %>
  <%= render 'events/partials/events_list' %>
</div>
