// // Place all the styles related to the events controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//

$black: rgb(25, 25, 25);
$white: rgb(250, 250, 250);

.events {
  height: 100%;
  margin: 10px;
  max-width: 550px;
  min-width: 450px;
  position: relative;
  width: 96%;
}

.event {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  width: 96%;
  h2 {
    width: 60%;
  }
}

.game-on {
  position: absolute;
  top: 5px;
  right: 10px;
  p {
    margin: 10px 0;
  }
}
