// // Place all the styles related to the events controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/
//

@import "variables";

.events {
  height: 100%;
  // margin: 10px;
  position: relative;
  width: 100%;
}

.event, .new-event-form {
  background-color: $white;
  border: 1px solid $black;
  border-radius: 10px;
  margin: 10px 0;
  max-width: 550px;
  min-width: 450px;
  padding: 10px;
  position: relative;
  width: calc(100% - 30px);
  h2 {
    width: 60%;
  }
  a {
    color: $red;
  }
}

.game-on {
  position: absolute;
  top: 5px;
  right: 10px;
  p {
    margin: 10px 0;
  }
}
