$darkgrey: rgb(100, 100, 100);
$darkred: rgb(175, 0, 0);
$grey: rgb(200, 200, 200);
$lightgrey: rgb(220, 220, 220);
$bkgd-color: $lightgrey;


// general
.clear-fix:after {
  clear: both;
  content: '';
  display: block;
  visibility: hidden;
}

body {
  font-family: 'Helvetica neue', sans-serif;
  background-color: $bkgd-color;
  margin: 0;
  min-height: 100vh;
  min-width: 825px;
  padding: 0;
  width: 100vw;
}

a {
  color: $darkred;
  text-decoration: none;
  &:hover {
    color: $grey;
  }
}

header * {
  float: left;
}

h1, h2, h3 {
  display: inline-block;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ol {
  padding-left: 10px;
}

li  {
  margin: 5px 0;
  p {
    display: inline;
  }
}

.errors li {
  text-align: left;
}

.hidden {
  display: none;
}

.small {
  font-size: 60%
}

.users li {
  text-align: left;
  margin-left: 20px;
}

.header {
  color: white;
  background-color: black;
  height: 80px;
  margin: 0;
  min-width: inherit;
  padding: 5px 0;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 10;
  a {
    color: $lightgrey;
    &:hover {
      color: $grey;
    }
  }
  img {
    margin: 0 5px;
    position: relative;
    top: 22px;
  }
}

.inline {
  display: inline;
}

.main {
  height: calc(100% - 90px);
  left: 210px;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: 90px;
  width: 100%;
  input {
    display: inline-block;
  }
}

.nav-sidebar {
  background-color: $bkgd-color;
  height: 100vh;
  left: 0;
  padding: 90px 5px 0;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 5;
}

input.delete {
  background-color: rgb(200, 0, 0);
  color: white;
  width: 25px;
  padding: 0 5px;
}
// // buttons, inputs, and links
// .cancel {
//   font-weight: bold;
//   margin: 10px;
//   text-align: center;
// }
//
//
// .email-input {
//   width: 50%;
// }
//

.new-button {
  background-color: black;
  color: white;
  left: 20px;
  padding: 5px 10px;
  position: relative;
  top: 10px;
  width: inherit;
}
//
// .submit {
//   width: 400px;
// }
//
// .danger {
//   width: inherit;
//   background-color: black;
//   color: white;
// }
//

// form {
//   display: inline;
//   width: 100%;
// }
// input, select {
//   background-color: white;
//   border: 1px solid black;
//   border-radius: 5px;
//   height: 25px;
//   margin: 5px 10px;
//   max-width: 358.4px; // because inputs have border 0.8, padding 15 on the sides
//   padding: 5px 15px;
//   width: calc(100% - 51.6px);
// }

label {
  display: block;
}
//
// select, .button, .cancel {
//   max-width: 400px;
//   width: 100%;
// }
//

div.picker__box {
  width: calc(92.5% - 220px);
  left: 215px;
  position: relative;
}

.picker--time .picker__box {
  width: 50%;
  left: 185px;
}
