@import "variables";

// general
.clear-fix:after {
  clear: both;
  content: '';
  display: block;
  visibility: hidden;
}

body {
  font-family: 'Helvetica neue', sans-serif;
  font-size: 125%;
  background-color: $bkgd-color;
  margin: 0;
  min-height: 100vh;
  min-width: 825px;
  padding: 0;
  width: 100vw;
}

a {
  color: $white;
  text-decoration: none;
  &:hover {
    color: $grey;
  }
}

header * {
  float: left;
}

h1, h2, h3 {
  display: inline-block;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ol {
  padding-left: 10px;
}

li  {
  margin: 5px 0;
  p {
    display: inline;
  }
  &.selected {
    background-color: $white;
    font-weight: bold;
    outline: solid 1px black;
    a {
      color: $red;
    }
  }
}

section {
  margin-bottom: 40px;
}

input[type="submit"].delete {
  background-color: $red;
  color: $white;
  display: inline;
  min-width: 20px;
  padding: 3px;
}

.errors li {
  text-align: left;
}

.hidden {
  display: none;
}

.right {
  float: right;
}

.small {
  font-size: 50%;
  position: relative;
  top: -10px;
}

.users li {
  text-align: left;
  margin-left: 20px;
}

.header {
  color: $white;
  background-color: $black;
  height: 90px;
  margin: 0;
  padding-left: 20px;
  position: fixed;
  width: 100vw;
  z-index: 10;
  img {
    margin: 0 5px;
    position: relative;
    top: 22px;
  }
}

.inline {
  display: inline;
}

.event input.join {
  background-color: $black;
  color: $white;
}

.main {
  height: calc(100% - 90px);
  left: 210px;
  overflow: scroll;
  padding-left: 30px;
  position: fixed;
  right: 0;
  top: 80px;
  width: calc(100% - 240px);
  input {
    display: inline-block;
  }
}

.nav-sidebar {
  background-color: $red;
  height: 100vh;
  left: 0;
  padding: 90px 5px 0;
  position: fixed;
  top: 0;
  width: 205px;
  z-index: 5;
}

// // buttons, inputs, and links
// .cancel {
//   font-weight: bold;
//   margin: 10px;
//   text-align: center;
// }
//
//
// .email-input {
//   width: 50%;
// }
//

.new-button, input[type="submit"] {
  background-color: $grey;
  color: $black;
  display: block;
  padding: 5px 10px;
  margin-top: 5px;
}
//
// .submit {
//   width: 400px;
// }
//
// .danger {
//   width: inherit;
//   background-color: black;
//   color: white;
// }
//

input, select {
  font-size: 66%;
  border: 1px solid $black;
  border-radius: 5px;
  margin-bottom: 5px;
  min-width: 200px;
  padding: 5px;
}

input[type="text"], input.datepicker, input.timepicker {
  min-width: 186.8px;
}

label {
  display: block;
}
//
// select, .button, .cancel {
//   max-width: 400px;
//   width: 100%;
// }
//

div.picker__box {
  width: calc(92.5% - 220px);
  left: 215px;
  position: relative;
}

.picker--time .picker__box {
  width: 50%;
  left: 185px;
}
